@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&family=Montserrat+Alternates:wght@400;600&family=Montserrat:wght@300;500&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600&family=Raleway:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&family=Montserrat+Alternates:wght@400;600&family=Montserrat:wght@300;500&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600&family=Raleway:wght@300;400&family=Ubuntu:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&family=Montserrat+Alternates:wght@400;600&family=Montserrat:wght@300;500&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@300;400&family=Ubuntu:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    overflow-x: hidden;
}
.navLinks{
    font-family: 'poppins', serif;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    padding: 2% 8%;
}


.navLinks p{
    color: rgb(202, 125, 17);
    position: relative;
    left: 2px;
}
#hide{
    position: relative;
    left: 550px;
    top: 40px;
    z-index: 999;
    display: none;
    color: #fff;
    
}
#close{
    position: relative;
    z-index: 10;
    top: 50px;
    display:none ;
    color: #fff;
}

ul{
display: flex;

}
li{
    padding: 2px 16px;
   list-style: none;
}
a{
    color: rgb(170, 164, 164);
    text-decoration: none;
}
.btn1{
   border: 2px solid rgb(202, 125, 17);
    border-radius: 20px;
    padding: 8px 16px 8px 16px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    width: 170px;
    text-align: center;
    transition: transform .4s;;
    width: 50px;
   
}
.btn1:hover{
    background-color: rgb(202, 125, 17);
    color: rgb(30,37,42);
    transform: scale(1.2);
}
.btn2{
    background-color: rgb(202, 125, 17);
    color: rgb(30,37,42);
    border-radius: 20px;
    border: 5px transparent solid;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    width: 170px;
    text-align: center;
    transition: transform .4s;
    width: 50px;

}
.btn2:hover{
    transform: scale(1.2);
}
.landing_page{
    width: 100%;
    height: 100vh;
    background-image: url("fun3.jpg");
    background-color: rgb(117, 97, 97);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
    text-transform: capitalize;
}
span{
    color: rgb(202, 125, 17);
}
.landing_page_text{
    color: #fff;
    width: 100%;
    position: absolute;
    top: 40%;
    left: 58%;
    transform: translateX(-50%);
}
.landing_page_text h1{
    font-size: 49px;
    font-weight: 700;
    font-family: 'poppins', sans-serif;
    text-transform: capitalize;
}
.landing_page_text p{
    font-size: 15px;
    color: rgb(170, 164, 164);
    font-family: 'Ubuntu', sans-serif;
    padding-top: 7px;
    line-height: 25px;
}
@media(max-width:700px){
    body{
        overflow-x: hidden;
    }
    .landing_page_text{
        overflow-x: hidden;
    
    }
    .landing_page_text h1{
        font-size: 30px;
    }
    .landing_page_text p{
        font-size: 13px;
    }
   nav{
    display: block;
    background-color: rgb(202, 125, 17);
    position: relative;
    top: 0;
    right: -250px;
    width: 250px;
    z-index: 6;
    height: 100vh;
    text-align: center;
    transition: 1s;

   }
   ul{
    display: block;
    position: relative;
    padding-top: 60px;
    font-size: 20px;
    line-height: 60px;
    
   
}
.btn1{
    font-size: 20px;
    font-weight: 400;
    font-family: 'poppins', serif;
}
.btn2{
    font-size: 20px;
    font-weight: 400;
    font-family: 'poppins', serif;
}
a{
    color: rgb(30,37,42);
}
#hide{
    display: block;
    color: rgb(242, 247, 250);
    z-index: 999;
    position: relative;
    top: 20px;
    left: 90px;
    margin-bottom: 30px;
}
#close{
    display: block;
    color: rgb(242, 247, 250);
    z-index: 999;
    position: relative;
    top: 20px;
    left: 10px;

}

}
.section_page{
    width: 100%;
    height: 100vh;
    font-family: 'poppins', serif;
    text-align: center;

}
.text_box_section h1{
    padding: 120px 0px 30px 0;
    color: rgb(34, 36, 37);
}
.row_text{
    display: flex;
    margin-top: 3%;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 50px;
}
.column_text{
    background-color: rgb(202, 125, 17);
    flex-basis: 31%;
    margin-bottom: 5%;
    padding: 40px 20px;
    border-radius: 10px;
    color: rgb(34, 36, 37);
    box-sizing: border-box;
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0, 0.2);
}
.column_text h3{
    padding-bottom: 10px;

}
@media(max-width:700px){
    .section_page{
        
    }
    .row_text{
        flex-direction: column;
    }
    .text_box_section h1{
        font-size: 30px;
    }
}

   /* 
   ul{
    display: block;
    position: relative;
    padding-top: 60px;
    font-size: 20px;
    line-height: 60px;
   
}
.btn1{
    font-weight: 400;
    font-size: 20px;
}
.btn2{
    font-weight: 400;
    font-size: 20px;
}
a{
    color: rgb(30,37,42);
}
nav i{
    display: block;
}
#hide{
    display: block;
    z-index: 7;
}
nav {
    height: 100vh;
    position: absolute;
    top: 0;
    right: -200px;
    background-color: rgb(202, 125, 17);
    z-index: 6;
    width: 250px;
    text-align: center;
}
}